div.ABC_Book{
    display: inline;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: crimson;
}
div.alphabet_A{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_B{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_C{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_D{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_E{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_F{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_G{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_H{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_I{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_J{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_K{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_L{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_M{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_N{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_O{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_P{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_Q{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_R{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_S{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_T{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_U{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_V{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_W{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_X{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_Y{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}
div.alphabet_Z{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 400;
}